html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* imprima-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/imprima-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/imprima-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/imprima-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/imprima-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/imprima-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/imprima-v16-latin_latin-ext-regular.svg#Imprima') format('svg'); /* Legacy iOS */
}
body{
    font-family: 'Imprima';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.intro{
    height: 100vh;
    background: url(../img/intro-bg6.png) no-repeat center;
    background-size: cover;
}
.intro_subtitle{
    color: white;
    max-width: 800px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 71px;
    padding-top: 30px;
    margin-left: 30px;

}
.header_link{
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

